body {
  padding: 0;
  margin-left: 20px;
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
}

.d-flex {
  display: flex;
}

.red-text {
  color: #c9001a;
  padding: 25px;
  border: 1px solid silver;
  width: 270px;
}

.block-traffic {
  width: 550px;
  border: 1px solid silver;
  justify-content: space-between;
}

.block-icons {
  color: lightgray;
  margin-right: 5px;
  margin-top: 5px;
  font-size: 13px;
}

.traffic {
  padding: 25px;
  color: #c9001a;
}

.icons-1 {
  margin-bottom: 3px;
  cursor: pointer;
}

.img {
  width: 100%;
}

.block-img-nine {
  width: 25px;
  margin-left: 15px;
}

.block-img-ten {
  width: 20px;
  margin-left: 15px;
}

.block-img-tvelv {
  width: 20px;
  margin-left: 15px;
  margin-top: 5px;
}

.block-img-eleven {
  width: 20px;
  margin-left: 15px;
  margin-top: 5px;
}

.price {
  margin-top: 5px;
  margin-left: 10px;
  color: #c9001a;
}

.block-price {
  width: 250px;
  border: 1px solid silver;
  justify-content: space-between;
}

.model {
  color: silver;
  font-size: 12px;
  font-weight: 300;
  margin-top: 10px;
  margin-left: 10px;
}

.block-GA {
  width: 220px;
  border: 1px solid silver;
  justify-content: space-between;
}

.block-name {
  width: 270px;
  border: 1px solid silver;
  padding: 25px;
}

ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  padding: 0;
}

li {
  text-align: center;
  margin: auto;
}

.block-ul {
  width: 550px;
  border: 1px solid silver;
  text-align: center;
}

.settings i {
  font-size: 11px;
}

.settings:first-line {
  color: #1529c9;
  font-size: 11px;
}

.show i {
  font-size: 12px;
}

.session i {
  font-size: 12px;
}

.ctr i {
  font-size: 12px;
}

.block-cpa {
  width: 250px;
  border: 1px solid silver;
}

.block-cpa ul {
  margin-top: 25px;
}

.block-GA ul {
  margin-top: 25px;
}

.block-final {
  width: 550px;
  border: 1px solid silver;
}

.block-final ul {
  margin-top: 25px;
}

.block-color {
  background-color: #fef7ec;
}

.block-data {
  width: 320px;
  border: 1px solid silver;
  height: 60px;
}

.block-plus {
  background-color: grey;
  color: white;
  height: 20px;
  width: 20px;
  text-align: center;
  border-radius: 5px;
  margin-top: 25px;
  margin-left: 15px;
  cursor: pointer;
}

.block-img-user {
  width: 25px;
  margin-top: 23px;
  margin-left: 12px;
}

.block-group {
  color: grey;
  font-size: 12px;
  font-weight: 400;
}

.block-group-name {
  color: #1529c9;
}

.block-groupName {
  margin-left: 12px;
  margin-top: 20px;
}

.fixed {
  position: absolute;
  left: 60px;
}

.online {
  width: 10px;
  height: 10px;
  background-color: lawngreen;
  border-radius: 15px;
  margin-top: 25px;
  margin-left: 300px;
}

.justify {
  justify-content: space-between;
}

.transformation {
  transition: 0.2s;
}
